body{margin:0;background:#000;color:white}
#sidebar{position:absolute;left:0;top:0;bottom:0;width:260px;background:#0b0b0b;border-right:2px solid #00ff9c;padding:10px}
#map{position:absolute;left:260px;right:0;top:0;bottom:0}
