html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
  font-family: system-ui, sans-serif;
  color: white;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 260px;
  background: #0b0b0b;
  border-right: 2px solid #00ff9c;
  padding: 12px;
  z-index: 1000;
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 260px;
  right: 0;
  background: #000;
}
